@charset "UTF-8";

body{
    display: flex;
    background-color: beige;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

h1{
    color: black;
    text-align: center;
}

.login-container{
    background-color: aliceblue;
    padding: 40px;
    border-radius: 25px;
}
